@model JunaidAlam.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Catg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Catg)
        </dd>

    </dl>
</div>

